@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~react-toastify/dist/ReactToastify.css';

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Inter';
}
